/* Google Fonts

    Usage:
        font-family: 'Nunito', sans-serif;
        font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --foreground: #f5f5f5;
    --dark-foreground: #cccccc;
    --red-foreground: #ED5058;
    --blue-foreground: #4B9EF3;

    --background-dark: #2b2b2b;
    --background-light: #E9E8E8;

    --gradient-blue: #4776E6;
    --gradient-dark-blue: rgba(71, 119, 230, 0.6);
    
    --gradient-purple: #8E54E9;
    --gradient-dark-purple: rgba(141, 84, 233, 0.6);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, var(--gradient-blue), var(--gradient-purple));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, var(--gradient-dark-blue), var(--gradient-dark-purple));
}

/* body */
body {
    background: var(--background-dark);
    color: var(--foreground);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.text-gradient, a {
    color: transparent;
    background: linear-gradient(90deg, var(--gradient-purple), var(--gradient-blue));
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
}

a:hover {
    color: transparent;
    background: linear-gradient(90deg, var(--gradient-dark-purple), var(--gradient-dark-blue));
    -webkit-background-clip: text;
    background-clip: text;
}

/* sections top & bottom backgrouns */
.section4BackgroundTop {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    height: 50px;
}

/* header */
header {
    background: rgba(43, 43, 43, 0.8);
    width: 100%;
}

header hr {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-purple));
    height: 8px !important;
    opacity: 1;
    margin: 0;
    border: none;
}

/* Toggle button icon */
header .navbar-toggler {
    transition: all 0.2s;
    border-color: var(--dark-foreground);
}

header .navbar-toggler:hover {
    background: rgba(133, 133, 133, 0.2);
}

header .navbar-toggler:focus {
    box-shadow: none;
    border-color: var(--foreground);
}

header .navbar-toggler .toggle-icon {
    aspect-ratio: 8/7;
}

header .navbar-toggler .toggle-icon span {
    display: block;
    height: 4px;
    width: 30px;
    transition: all 0.2s;
    background-color: var(--dark-foreground);
    border-radius: 2px;
}

header .navbar-toggler:focus .toggle-icon span {
    background-color: var(--foreground);
}

header .navbar-toggler:not(.collapsed) .toggle-icon span:first-child {
    transform: rotate(41.18deg) scaleX(1.32);
    transform-origin: 6% 10%;
}

header .navbar-toggler:not(.collapsed) .toggle-icon span:nth-child(2) {
    opacity: 0;
}

header .navbar-toggler:not(.collapsed) .toggle-icon span:last-child {
    transform: rotate(-41.18deg) scaleX(1.32);
    transform-origin: 10% 90%;
}

/* Navigation links */
header .navgationLinks a {
    font-size: 20px;
    color: var(--dark-foreground) !important;
}

header .navgationLinks a:hover {
    color: var(--foreground) !important;
}

/* Introduction Section */
main section:first-child .image div {
    z-index: -1;
    background: linear-gradient(135deg, var(--gradient-blue), var(--gradient-purple));
}

main section:first-child .image div img {
    background: var(--background-dark);
}

main section:first-child .intro h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 45px;
}

main section:first-child .intro div svg:not(:hover) {
    fill: var(--foreground);
}

main section:first-child .intro div svg:not(:hover) rect {
    fill: none;
}

/* Education Section */
main section:nth-child(2) {
    color: black;
    background-color: var(--background-light);

    border-radius: 50% / 2em;

    padding-top: 3em;
    padding-bottom: 3em;
}

main section:nth-child(2) h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

main section:nth-child(2) h2.font-blue {
    color: var(--blue-foreground);
}

main section:nth-child(2) h2.font-red {
    color: var(--red-foreground);
}

main section:nth-child(2) h3 {
    font-size: 22px;
}

main section:nth-child(2) p.subheading {
    font-size: 17px;
}

main section:nth-child(2) p.status {
    font-size: 12px;
}

/* section3 */
#section3 {
    max-width: 933px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
}

#section3 h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#section3 .iconsGrid {
    max-width: 580px;

    margin-left: 20px;
    margin-right: 20px;
}

#section3 .iconsGrid span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 .blueText {
    margin-top: 40px;
}

#section3 .knowledgesGrid {
    margin-left: 20px;
    margin-right: 20px;
}

#section3 .knowledgesGrid span {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
}

#section3 .knowledgesGrid p {
    font-size: 17px;
}

/* section4 */
.section4BackgroundTop {
    background-image: url(images/section4-background-shape-top.svg);
}

#section4 {
    background-color: var(--background-light);
    color: black;

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#section4 .section4Content {
    max-width: 933px;
    min-height: 265px;

    margin: auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

#section4 .section4Content h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 45px;
    
    color: transparent;
    background: linear-gradient(90deg, var(--gradient-purple), var(--gradient-blue));
    -webkit-background-clip: text;
    background-clip: text;
}

#section4 .section4Content .contactInfoGrid {
    max-width: 814px;
}

#section4 .section4Content .contactInfoGrid a, #section4 .section4Content .contactInfoGrid span {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

#section4 .section4Content .contactInfoGrid a:hover {
    color: rgba(0, 0, 0, 0.7);
}

#section4 .section4Content .contactInfoGrid img {
    margin-right: 5px;
}

/* footer */
footer {
    margin: 20px;

    text-align: center;
    font-size: 15px;
}

footer a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* 
    "desktop"
*/
@media (min-width: 768px) {
    /* Main Section */
    main {
        margin-top: 210px;
    }

    /* Education Section */
    main section:nth-child(2) {
        margin-top: 210px;
    }

    /* section3 */
    #section3 {
        margin-top: 210px;
    }

    /* section4 */
    .section4BackgroundTop {
        margin-top: 210px;
    }
}

/* 
    "mobile"
*/
@media (max-width: 767px) {
    /* Main Section */
    main {
        margin-top: 110px;
    }

    /* Education Section */
    main section:nth-child(2) {
        margin-top: 210px;
    }

    /* section3 */
    #section3 {
        margin-top: 110px;
    }

    /* section4 */
    .section4BackgroundTop {
        margin-top: 110px;
    }
}