/* Google Fonts

    Usage:
        font-family: 'Nunito', sans-serif;
        font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --gradient-blue: #4776E6;
    --gradient-dark-blue: rgba(71, 119, 230, 0.4);
    
    --gradient-purple: #8E54E9;
    --gradient-dark-purple: rgba(141, 84, 233, 0.4);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, var(--gradient-blue), var(--gradient-purple));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, var(--gradient-dark-blue), var(--gradient-dark-purple));
}

/* body */
body {
    background: rgb(43, 43, 43);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/* sections top & bottom backgrouns */
.section2BackgroundTop, .section2BackgroundBottom, .section4BackgroundTop {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    height: 50px;
}

/* header */
header {
    background: rgba(43, 43, 43, 0.8);
    width: 100%;
}

header .decorationShape {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-purple));
    width: 100%;
    height: 10px;
}

header .navgationLinks {
    margin-left: auto;
    margin-right: 0!important;
}

header .navgationLinks a {
    font-size: 20px;
}

/* section1 */
#section1 {
    max-width: 933px;

    margin-left: auto;
    margin-right: auto;
}

#section1 .row {
    margin: 0 20px;
}
#section1 .intro h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 45px;
    
    color: transparent;
    background: linear-gradient(90deg, var(--gradient-purple), var(--gradient-blue));
    -webkit-background-clip: text;
    background-clip: text;
}

#section1 .intro .iconsDiv {
    height: 35px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section1 .intro .iconsDiv a img:hover {
    width: 35px;
    height: 35px;
}

#section1 .image {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* red & blue text */
.redText {
    color: #ED5058;
}

.blueText {
    color: #4B9EF3;
}

/* section2 */
.section2BackgroundTop {
    background-image: url(images/section2-background-shape-top.svg);
}

.section2BackgroundBottom {
    background-image: url(images/section2-background-shape-bottom.svg);
}

#section2 {
    background-color: #E9E8E8;
    color: black;

    padding: 0 20px;
}

#section2 .section2Content {
    max-width: 933px;

    margin: auto;
}

#section2 .section2Content h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 35px;

    margin-bottom: 4px;
}

#section2 .section2Content h3 {
    font-size: 22px;

    margin: 0;
}

#section2 .section2Content .institution {
    font-size: 17px;

    margin-bottom: 2px;
}

#section2 .section2Content .status {
    font-size: 12px;
}

#section2 .section2Content #statusCurso {
    max-width: 159px;
    margin-left: auto;
    text-align: start;
}

/* section3 */
#section3 {
    max-width: 933px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
}

#section3 h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#section3 .iconsGrid {
    max-width: 580px;

    margin-left: 20px;
    margin-right: 20px;
}

#section3 .iconsGrid span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 .blueText {
    margin-top: 40px;
}

#section3 .knowledgesGrid {
    margin-left: 20px;
    margin-right: 20px;
}

#section3 .knowledgesGrid span {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
}

#section3 .knowledgesGrid p {
    font-size: 17px;
}

/* section4 */
.section4BackgroundTop {
    background-image: url(images/section4-background-shape-top.svg);
}

#section4 {
    background-color: #E9E8E8;
    color: black;

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#section4 .section4Content {
    max-width: 933px;
    min-height: 265px;

    margin: auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

#section4 .section4Content h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 45px;
    
    color: transparent;
    background: linear-gradient(90deg, var(--gradient-purple), var(--gradient-blue));
    -webkit-background-clip: text;
    background-clip: text;
}

#section4 .section4Content .contactInfoGrid {
    max-width: 814px;
}

#section4 .section4Content .contactInfoGrid a, #section4 .section4Content .contactInfoGrid span {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

#section4 .section4Content .contactInfoGrid a:hover {
    color: rgba(0, 0, 0, 0.7);
}

#section4 .section4Content .contactInfoGrid img {
    margin-right: 5px;
}

/* footer */
footer {
    margin: 20px;

    text-align: center;
    font-size: 15px;
}

footer a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* 
    "desktop"
*/
@media (min-width: 576px), (orientation: landscape) {
    /* section1 */
    #section1 {
        margin-top: 210px;
    }

    /* section2 */
    .section2BackgroundTop {
        margin-top: 210px;
    }

    /* section3 */
    #section3 {
        margin-top: 210px;
    }

    /* section4 */
    .section4BackgroundTop {
        margin-top: 210px;
    }
}

/* 
    "mobile"
*/
@media (max-width: 575px) and (orientation: portrait) {
    /* section1 */
    #section1 {
        margin-top: 110px;
    }
    
    #section1 .intro {
        margin-top: 30px;
    }

    /* section2 */
    .section2BackgroundTop {
        margin-top: 110px;
    }

    /* section3 */
    #section3 {
        margin-top: 110px;
    }

    /* section4 */
    .section4BackgroundTop {
        margin-top: 110px;
    }
}