/* Google Fonts

    Usage:
        font-family: 'Nunito', sans-serif;
        font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --foreground: #f5f5f5;
    --dark-foreground: #cccccc;
    --red-foreground: #ED5058;
    --blue-foreground: #4B9EF3;

    --background-dark: #2b2b2b;
    --background-dark-80: rgba(43, 43, 43, 0.8);
    --background-light: #E9E8E8;

    --gradient-blue: #4776E6;
    --gradient-dark-blue: rgba(71, 119, 230, 0.6);
    
    --gradient-purple: #8E54E9;
    --gradient-dark-purple: rgba(141, 84, 233, 0.6);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to top, var(--gradient-blue), var(--gradient-purple));
}

::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0 0 0 100vh rgb(80, 80, 80);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(80, 80, 80, 0.4);
}

/* body */
body {
    background: var(--background-dark);
    color: var(--foreground);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

.text-gradient {
    color: transparent;
    background: linear-gradient(90deg, var(--gradient-purple), var(--gradient-blue));
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
}

a.text-gradient:hover {
    color: transparent;
    background: linear-gradient(90deg, var(--gradient-dark-purple), var(--gradient-dark-blue));
    -webkit-background-clip: text;
    background-clip: text;
}

.background-light {
    background-color: var(--background-light);
    color: black;
}

i {
    position: relative;
}

i, i::before, i::after {
    transition: all 0.2s;
}

i.bi-github::before {
    color: black;
}

i.bi-linkedin::before {
    color: #0077B7;
}

i.bi-telephone-fill::before {
    color: #6AAF50;
}

i.bi-envelope-fill::before {
    color: #EE2727;
}

i.bi-instagram::before {
    background: linear-gradient(to top, #E09B3D, #C74C4D 30%, #C21975 60%, #7024C4);
}

i.bi-facebook::before {
    background: linear-gradient(to top, #0062E0, #19AFFF);
}

i.bi-is-gradient::before {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

i.bi-has-background::after {
    content: "";

    background-color: white;

    height: 0.9em;
    width: 0.9em;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    z-index: -1;
}

i.bi-has-background:is(.bi-linkedin)::after {
    border-radius: 25%;
}

/* header */
header {
    background: var(--background-dark-80);
    z-index: 990;
}

header hr {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-purple));
    height: 8px !important;
    opacity: 1;
}

/* Toggle button icon */
header .navbar-toggler {
    transition: all 0.2s;
    border-color: var(--dark-foreground);
}

header .navbar-toggler:hover {
    background: rgba(133, 133, 133, 0.2);
}

header .navbar-toggler:focus {
    box-shadow: none;
    border-color: var(--foreground);
}

header .navbar-toggler .toggle-icon {
    aspect-ratio: 8/7;
}

header .navbar-toggler .toggle-icon span {
    display: block;
    height: 4px;
    width: 30px;
    transition: all 0.2s;
    background-color: var(--dark-foreground);
    border-radius: 2px;
}

header .navbar-toggler:focus .toggle-icon span {
    background-color: var(--foreground);
}

header .navbar-toggler:not(.collapsed) .toggle-icon span:first-child {
    transform: rotate(41.18deg) scaleX(1.32);
    transform-origin: 6% 10%;
}

header .navbar-toggler:not(.collapsed) .toggle-icon span:nth-child(2) {
    opacity: 0;
}

header .navbar-toggler:not(.collapsed) .toggle-icon span:last-child {
    transform: rotate(-41.18deg) scaleX(1.32);
    transform-origin: 10% 90%;
}

/* Navigation links */
header .navgationLinks a {
    font-size: 20px;
    color: var(--dark-foreground) !important;
}

header .navgationLinks a:hover {
    color: var(--foreground) !important;
}

/* Main */
main {
    margin-top: 20vh;
}

/* Introduction Section */
main section:first-of-type .image div {
    background: linear-gradient(135deg, var(--gradient-blue), var(--gradient-purple));
}

main section:first-of-type .image div img {
    background: var(--background-dark);
}

main section:first-of-type .intro div i {
    font-size: 32px;
}

main section:first-of-type .intro div i:not(:hover)::before {
    color: var(--foreground);
}

main section:first-of-type .intro div i:not(:hover)::after {
    background-color: transparent;
}

/* Education Section */
#educationSection {
    border-radius: 50% / 30px;

    padding-top: 30px;
    padding-bottom: 30px;
}

#educationSection h2 {
    color: var(--blue-foreground);
}

#educationSection p.status {
    font-size: 12px;
}

/* Knowledge and Education Section */
:is(#educationSection, #knowledgeSection) h3 {
    font-size: 22px;
}

#educationSection p.subheading, #knowledgeSection p {
    font-size: 17px;
}

/* Knowledge Section */
#knowledgeSection h2 {
    color: var(--blue-foreground);
}

#knowledgeSection div.col:nth-of-type(odd) h2 {
    color: var(--red-foreground);
}

/* Experience Section */
#experienceSection {
    position: relative;

    padding-top: 60px;
    padding-bottom: 60px;
}

#experienceSection::before, #experienceSection::after, #experienceSection h2 {
    position: absolute;
}

#experienceSection::before, #experienceSection::after {
    content: '';
    width: 100%;
    left: 0;
    height: 60px;

    background: var(--background-dark);
}

#experienceSection::before {
    top: 0;

    border-bottom-left-radius: 50% 30px;
    border-bottom-right-radius: 50% 30px;
}

#experienceSection::after {
    bottom: 0;

    border-top-left-radius: 50% 30px;
    border-top-right-radius: 50% 30px;
}

#experienceSection h2 {
    top: 0;
    text-align: center;

    left: 50%;
    transform: translateX(-50%);
}

#experienceSection h3 {
    color: var(--red-foreground);
}

#experienceSection p:first-of-type {
    font-weight: 500;
}

/* Project Section */
#projectSection {
    color: var(--blue-foreground);
}

#projectSection a {
    transition: all .2s;
}

#projectSection a:hover {
    opacity: 0.75;
}

/* Contact Section */
#contactSection {
    position: relative;
}

#contactSection::before, #contactSection::after {
    position: absolute;
    top: 0;
    content: '';
    width: 50%;
    height: 50px;

    background: var(--background-dark);
}

#contactSection::before {
    left: 0;

    border-bottom-right-radius: 100% 70%;
    border-bottom-left-radius: 50% 25%;
}

#contactSection::after {
    right: 0;

    border-bottom-left-radius: 100% 70%;
    border-bottom-right-radius: 50% 25%;
}

#contactSection h1:first-child {
    margin-top: 50px;
}

#contactSection a {
    transition: all 0.2s;
    font-size: 20px;
    font-weight: 500;
    color: inherit;
}

#contactSection a:hover {
    opacity: 0.7;
}

#contactSection a i {
    font-size: 32px;
}

/* Main Section, Education Section, Knowledge Section & Contact Section */
#educationSection, #knowledgeSection, #experienceSection, #projectSection, #contactSection {
    margin-top: 50vh;
}

/* footer */
footer {
    font-size: 15px;
}

footer a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: var(--dark-foreground);
}

/* 
    mobile
*/
@media (max-width: 768px) {
    #educationSection div.col:nth-of-type(even) h2 {
        color: var(--red-foreground);
    }

    #experienceSection div.col:nth-of-type(even) h3 {
        color: var(--blue-foreground);
    }
}

/*
    desktop
*/
@media (min-width: 768px) {
    main {
        margin-top: 30vh;
    }

    #educationSection div.col:is(:nth-of-type(4n+2), :nth-of-type(4n+3)) h2 {
        color: var(--red-foreground);
    }

    #experienceSection div.col:is(:nth-of-type(4n+2), :nth-of-type(4n+3)) h3 {
        color: var(--blue-foreground);
    }
}
